pyasn1==0.3.2
dcoscli==0.5.3
dcos==0.5.3
dcos-shakedown==1.4.5
git+https://github.com/dcos/dcos-test-utils.git@449eb8018468c0eafbc85342b68639ac89e8f6be
git+https://github.com/dcos/dcos-launch.git@40bcef8ba9975f8fba6f86d2fc212d1a5f323db8
